
.noSelect{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.table-hover{
    color: #fff; !important;
}

.list-group{
    background-color: #1F2933;
}

.list-group-item{
    background-color: #1F2933;
}

.list-group-flush{
    background-color: #1F2933;
}

.op0{
    opacity: 0;
}

.op25{
    opacity: 0.25;
}

.op50{
    opacity: 0.5;
}

.op75{
    opacity: 0.75;
}

.opFull{
    opacity: 1;
}


.backOp0{
    background: rgba(31,41,51,0);
}

.noTop{
    border-top: none; !important;
}

.noWrap{
    white-space: nowrap;
}

.padLeft{
    padding-left: 5%;
    padding-right: 5%;
}

.padRight{
    padding-left: 5%;
    padding-right: 5%;
}

.padBet{
    margin-bottom: 10%;
}